header.center(class=type, class=page)(class=appbtns ? 'appbtns' : '')#waypoint-1
  include ../partials/nav

  .hero-wrap.dark.slider
    if titles
      each val, index in titles
        .hero
          .flex.stretch.wrap
            .unit.center-v
              if strap
                hgroup=strap
              
              h1 #{val[0]}

              if val[1]
                a(href="#{val[2]}").plain.caps.button.inline-block.white #{val[1]}

  if appbtns
    .hero.app-buttons.inline
      a(href="#").app.plain.no-select.no-drag
        img(src="img/buttons/app-google.svg")
      a(href="#").app.plain.no-select.no-drag
        img(src="img/buttons/app-apple.svg")
